@font-face {
  font-family: "principal";
  src: url(../fonts/Lemonada/Lemonada-VariableFont_wght.ttf);
}
@font-face {
  font-family: "secundaria";
  src: url(../fonts/Lemonada/static/Lemonada-Regular.ttf);
}
@font-face {
  font-family: "titulares";
  src: url(../fonts/Lemonada/static/Lemonada-Bold.ttf);
}
html {
  font-size: 80%;
}
html body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px auto;
  background-color: #ffc9dc;
  font-family: "principal";
  color: #402136;
  min-width: 250px;
}

h1,
h3,
h5,
h6 {
  font-family: "titulares";
}

p {
  line-height: 1.5;
}

h2 {
  font-family: "secundaria";
}

.header {
  background-color: #bf63a1;
}
.header__contenedor__logotipo {
  width: 125px;
  height: 125px;
}
@media screen and (max-width: 576px) {
  .header__contenedor__logotipo {
    margin: 0px auto;
  }
}
.header__sesion {
  align-items: flex-end;
}
@media screen and (max-width: 576px) {
  .header__sesion {
    margin: 0px auto;
    align-items: center;
  }
}
.header__sesion a:first-child::after {
  content: "  /  ";
}
.header__navegador {
  font-family: "titulares";
  border-bottom: 2px solid #402136;
  background-color: #ffc9dc;
}
.header .dropdown-menu {
  background-color: #ffc9dc;
  color: #402136;
}
.header .dropdown-menu :hover {
  background-color: #402136;
  color: white;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .contenedor {
    flex-direction: column;
  }
  .contenedor .contenedor__formulario {
    width: 80%;
  }
  .contenedor .contenedor__formulario p {
    font-size: small;
  }
  .contenedor .contenedor__informacion {
    display: flex;
    width: 70%;
    align-items: center;
    flex-direction: column;
    font-size: small;
    margin-bottom: 2rem;
  }
  .contenedor .contenedor__informacion__producto, .contenedor .contenedor__informacion__formar, .contenedor .contenedor__informacion__distribuir {
    display: flex;
  }
}
.contenedor__formulario {
  display: flex;
  width: 40%;
  align-items: center;
  flex-direction: column;
  background-color: #bf63a1;
}
.contenedor__formulario button {
  background-color: #ffe3ed;
}
.contenedor__informacion {
  display: flex;
  width: 40%;
  align-items: center;
  flex-direction: column;
}
.contenedor__informacion__producto, .contenedor__informacion__formar, .contenedor__informacion__distribuir {
  display: flex;
}
.contenedor__texto__producto__email, .contenedor__texto__producto__telefono, .contenedor__texto__producto__horario, .contenedor__texto__distribuir__email, .contenedor__texto__distribuir__telefono, .contenedor__texto__distribuir__horario, .contenedor__texto__formar__email, .contenedor__texto__formar__telefono, .contenedor__texto__formar__horario {
  display: flex;
  align-items: flex-start;
}
.contenedor__icono__producto, .contenedor__icono__formar, .contenedor__icono__distribuir {
  display: flex;
  align-items: center;
}
.contenedor__icono__producto img, .contenedor__icono__formar img, .contenedor__icono__distribuir img {
  max-width: 150px;
  max-height: 150px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffe3ed;
}
.newsletter .text_bold {
  font-family: "titulares";
}
.newsletter .input-group {
  border: 1px solid #402136;
  border-radius: 10px;
  height: 50px;
}
.newsletter .input-group input {
  background-color: #ffc9dc;
}
.newsletter .input-group button {
  background-color: #bf63a1;
  color: white;
}
.newsletter p {
  width: 50%;
  text-align: center;
  font-size: large;
}
.newsletter .form-check {
  font-size: small;
}
@media screen and (max-width: 992px) {
  .newsletter p {
    width: 90%;
    text-align: left;
    font-size: small;
  }
  .newsletter .form-check {
    font-size: small;
  }
}

.footer {
  border-top: 1px solid #402136;
  box-shadow: 5px 1px 5px #402136;
  background-color: #bf63a1;
}

.formulario {
  width: 95%;
}

.formulariobusqueda {
  background-color: #ffc9dc;
}

.botonbuscar {
  background-color: #bf63a1;
}

/*# sourceMappingURL=contacto.css.map */
