@use'variables' as v; //VARIABLES
@use 'mixins' as m;

//MODIFICACIONES GLOBALES
@font-face {
    font-family: 'principal';
    src: url(../fonts/Lemonada/Lemonada-VariableFont_wght.ttf);

}

@font-face {
    font-family: 'secundaria';
    src: url(../fonts/Lemonada/static/Lemonada-Regular.ttf);

}

@font-face {
    font-family: 'titulares';
    src: url(../fonts/Lemonada/static/Lemonada-Bold.ttf);

}


html {
    font-size: 80%;

    body {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px auto;
        background-color: v.$primario;
        font-family: 'principal';
        color: v.$cuarto;
        min-width: 250px;
    }
}

h1,
h3,
h5,
h6 {
    font-family: 'titulares';
}

p {
    line-height: 1.5;
}

h2 {
    font-family: 'secundaria';
}



//HEADER
.header {
    background-color: v.$secundario;

    &__contenedor {
        &__logotipo {
            width: 125px;
            height: 125px;

            @media screen and (max-width:576px) {
                margin: 0px auto;
            }
        }

    }



    &__sesion {
        align-items: flex-end;

        @media screen and (max-width:576px) {
            margin: 0px auto;
            align-items: center;
        }

        a:first-child {
            &::after {
                content: '  /  ';
            }
        }

    }

    &__navegador {

        font-family: 'titulares';
        border-bottom: 2px solid v.$cuarto;
        background-color: v.$primario;
    }
    .dropdown-menu {
        background-color: v.$primario;
        color: v.$cuarto;
        :hover{
            background-color: v.$cuarto;
            color: white;
        }
    }

}

.contenedor {
    width: 100%;
    margin: 0px auto;
    
    .card {
        display: flex;
        align-items: center;
        background-color: v.$primario;
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: v.$terciario;
            border-radius: 15px;
            font-family: 'titulares';
            img{
                padding-left: 1rem;
                width: 60px;
                height: 40px;
                
            }
        }
        &-img-bottom {
            height: 500px;
            width: 500px;
        }
    }

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:v.$terciario;
    .text_bold{
        font-family: 'titulares';
    }
    .input-group{
        border: 1px solid v.$cuarto;
        border-radius: 10px;
        height: 50px;
        input{
            background-color: v.$primario;
        }
        button{
            background-color: v.$secundario;
            color: white;
        }
    }
    p{
        font-size: large;
    }
    .form-check{
        font-size: small ;
    }
}


}


.footer {
    border-top: 1px solid v.$cuarto;
    box-shadow: 5px 1px 5px v.$cuarto;
    background-color: v.$secundario;
}

//Modificaciones puntuales
.formulario {
    width: 95%;
}

.formulariobusqueda {
    background-color: v.$primario;
}

.botonbuscar {
    background-color: v.$secundario;
}